#Configure the script
OUTPUT_APK_FOLDER="./apk"
INPUT_APK_FILE="./cyclearoundapp/build/outputs/apk/release$ENV_UP/cyclearoundapp-release${ENV_UP}.apk"
OUTPUT_APK_FILE_NAME="app-release.apk"
OUTPUT_APK_FILE="$OUTPUT_APK_FOLDER/$OUTPUT_APK_FILE_NAME"

#FTP
HOST='ftp.domain.com'
USER='ftp_username'
PASSWD='ftp_password'
REMOTE_DIR="/www.domain.com/release/"
